body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

#rcorners2 {
  border-radius: 25px;
  border: 5px solid #ffff00;
  padding: 20px;
  width: 200px;
  height: 150px;
  background: pink;
}


#Uno {
  width: 50px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}

img {
  border-radius: 30px;
}

#Dos {
  text-shadow: 2px 2px;
  color: red;
}

#Tres {
  color: #6a5acd;
}
